.QQ-1{
	left:90vh;
}
.QQ-2{
	left:90vh;
}
.QQ-3{
	left:90vh;
}
.QQ-4{
	left:90vh;
}
.QQ-4{
	left:90vh;
}
.QQ-4{
	left:90vh;
}
.fact{
	left:75vh;
}

.QQ-5{
	left:90vh;
}
.form-btn{
	position: absolute;
	left: 75vw;

}
.score{
	position: absolute;
	left:80vh;
	max-width:50vh;
	border:1px solid white;
}
.sc,.cr{
	color: black;
	width: 30vh;
	
}
.cr{
	width: 50vh;
}